.header {
  display: grid;
  background: #2c3e50;
  color: white;
  padding: 1rem 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 95rem;
  
}

.cart-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.cart-link:hover .cart-btn {
  background-color: #34495e;
}
.cart-container {
  background: transparent;
  display: flex;
  align-items: center;
}

.nav-container {
  width: 93rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

/* Логотип */
.logo span {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

/* Основная навигация */
.main-nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: #34495e;
}

/* Поиск и действия */
.header-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-box {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 0.5rem 1rem;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  width: 12.5rem;
}

.search-input:focus {
  outline: none;
  border-color: #3498db;
}

.login-btn {
  background: #3498db;
  color: white;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.login-btn:hover {
  background: #2980b9;
}




